/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/** end reset css**/
body {
    max-width: 1140px;
    margin: auto;
    font-family: "Work Sans";
    font-size: 14px;
}
header {
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
}
section {
    margin: 50px 0;
}

h1 {
    display: flex;
    flex-direction: column;
    font-family: "Syne";
    font-size: 22px;
    font-weight: 800;
    color: #b1663c;
}

h1 > span {
    font-family: "Work Sans";
    font-size: 10px;
    letter-spacing: 0.1em;
}

h2 {
    font-family: "Syne";
    font-weight: 700;
    font-size: 30px;
    color: #1d6154;
}
nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
}
nav li {
    padding: 0 10px;
    font-size: 1.2em;
}

li:hover {
    color: #b1663c;
}
#introduction {
    display: flex;
    align-items: center;
}
#introduction figure {
    flex: 1;
}
#introduction img {
    display: block;
    margin: auto;
    width: 80%;
}

#introduction article {
    flex: 1;
}
#introduction h2 {
    margin-bottom: 1em;
}

#introduction p {
    margin-bottom: 0.5em;
}
#portfolio h2 {
    text-align: center;
    margin-bottom: 1em;
}
.gallery {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.gallery img {
    width: 100%;
}
#contact {
    width: 50%;
    margin: auto;
}
#contact > * {
    text-align: center;
}
#contact h2 {
    margin-bottom: 20px;
}
#contact form {
    text-align: left;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

#contact input {
    height: 50px;
    font-size: 1.2em;
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
    margin: 2em 0 1em 0;
}
#contact textarea {
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
    font-family: "Syne";
    font-weight: 700;
    color: white;
    background-color: #1d6154;
    margin: 2em auto;
    width: 180px;
    text-align: center;
    border-radius: 60px;
}

footer nav ul {
    display: flex;
    justify-content: flex-end;
    margin: 2em;
}

.filters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 51px;
}

.filters button {
    margin-left: 5px;
    padding: 10px 20px;
    border: 2px solid #1d6154;
    border-radius: 20px;
    background-color: white;
    color: #1d6154;
    cursor: pointer;
}

.filters button.active {
    background-color: #1d6154;
    color: white;
}

a {
    text-decoration: none;
    color: inherit;
}

.login__page {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login__container {
    text-align: center;
    width: 300px;
}

#login form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#login label {
    text-align: left;
    width: 379px;
}

#login input {
    width: 379px;
    height: 51px;
    margin: 5px 0;
    padding: 5px;
    font-size: 1em;
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.shake {
    animation: shake 0.2s ease-in-out;
}

@keyframes shake {
    0%,
    100% {
        transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translateX(-5px);
    }
    20%,
    40%,
    60%,
    80% {
        transform: translateX(5px);
    }
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    background-color: white;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    border-radius: 10px;
    position: relative;
}

.close__button {
    color: #aaa;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

#add__photo__form input {
    height: 51px;
    border: none;
    cursor: pointer;
}

#delete__gallery__text {
    color: red;
    margin-top: 10px;
}

.mode__edition__bar {
    display: none;
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.mode__edition__bar span {
    font-weight: bold;
}

#publier__button {
    background-color: white;
    color: black;
    border: none;
    padding: 5px 15px;
    border-radius: 20px;
    margin-left: 10px;
    cursor: pointer;
}

.logout__button {
    cursor: pointer;
}

.project__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 60%;
    padding-bottom: 47px;
    padding-top: 47px;
    border-bottom: solid #b3b3b3;
}

.project__list div {
    width: calc(20% - 20px);
    max-width: 100%;
    height: auto;
    margin: 10px;
    position: relative;
}

.project__list img {
    max-width: 100%;
    height: auto;
    margin: 10px;
    position: relative;
}

.project__list i {
    position: absolute;
    top: 12px;
    right: -8px;
    color: white;
    cursor: pointer;
    background-color: black;
    padding: 4px;
    border-radius: 4px;
}

#add__photo__modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

#add__photo__modal form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: solid #b3b3b3;
    padding-bottom: 47px;
    padding-top: 47px;
}

#add__photo__modal label {
    text-align: left;
    width: 379px;
}
#add__photo__modal input {
    width: 379px;
    height: 51px;
    margin: 5px 0;
    padding: 5px;
    font-size: 1em;
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#add__photo__modal select {
    width: 379px;
    height: 51px;
    margin: 5px 0;
    padding: 5px;
    font-size: 1em;
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.add__photo__modal__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.close__button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

.upload__area {
    margin-top: 20px;
}

.upload__rectangle {
    background-color: #f0f5f9;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.upload__button {
    background-color: #cbd6dc;
    color: #306568;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    margin-bottom: 10px;
}

.uploaded__image {
    max-width: 100%;
    max-height: 200px;
    margin-bottom: 10px;
}

#valider {
    display: flex;
    justify-content: center;
    align-items: center;
}
